extends structure

block append stylesheets
    link(rel="stylesheet" href="css/ui.css")
    link(rel="stylesheet" href="css/customer.css")

block append scripts
    script(src="js/customer-overview.js")

block append body-content
    h2
    div(id='alertBoxContainer')
        .row
            .col-md-2
            .col-md-8
                div.form-control.alertBox
                    br
                    | The customer has been added.
                    br
                    .col-md-2
                    .col-md-8
                        button.form-control.btn-info(type='button', id="alertBoxBtn",onclick="location.href='/customer-overview'")
                            span OK
                    .col-md-2

            .col-md-2


    div(id="addCustomerForm")
        form#customerForm()
            .row
                .col-md-2
                    label First Name *
                .col-md-3
                    input(type='text', name='first_name')
                .col-md-2
                    label Last Name *
                .col-md-3
                    input(type='text', name='last_name')
            br
            .row
                .col-md-2
                    label Address Line 1 *
                .col-md-3
                    input(type='text', name='address_line_1')
                .col-md-2
                    label Address Line 2
                .col-md-3
                    input(type='text', name='address_line_2')
            br
            .row
                .col-md-2
                    label Registration
                .col-md-3
                    input(type='text', name='registration')
            br
            .row
                .col-md-2
                    label Date of Birth *
                .col-md-3
                    input(type='text', name='date_of_birth',placeholder=" DD/MM/YYYY")
                .col-md-2
                    label Email Address *
                .col-md-3
                    input(type='text', name='email_address')
            br
            .row
                .col-md-2
                    label Home Phone Number
                .col-md-3
                    input(type='text', name='home_phone_number')
                .col-md-2
                    label Mobile Phone Number
                .col-md-3
                    input(type='text', name='mobile_phone_number')

            p
                |* Fields marked with an asterisk are obligatory.
            br
            .row
                .col-md-3
                    button.form-control.btn-info(type='button' id="btnAddCustomer")
                        span.fa.fa-fw.fa-check
                        |  Add Customer
                .col-md-2
                    button.form-control.btn-info(type='button', onclick="location.href='/customer-overview'")
                        span.fa.fa-fw.fa-times
                        |  Cancel

        div(class="error")



