extends structure

block append stylesheets
    link(rel="stylesheet" href="css/booking-history.css")

block append top-content
    p.page-title
        span.fa.fa-fw.fa-lg.fa-history
        | Booking History
block append body-content

    p
        | An archive of every booking ever made on the system.

