extends structure

block append stylesheets
    link(rel="stylesheet" href="css/daterangepicker.css")
    link(rel="stylesheet" href="css/booking.css")

block append top-content
    p.page-title
        span.glyphicon.glyphicon-book
        |  Create a Booking


block append body-content
    p(id="currentBooking")

    #accordion
        .card
            #headingOne.card-header
                button.form-control.btn.btn-link(type='button', id="bookingCard" data-toggle='collapse', data-target='#collapseOne', aria-expanded='false', aria-controls='collapseOne', onclick='hideButton()')
                    |  Book Pitch
                h5.mb-0
            #collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                .card-body
                    // Form Wraps Whole Container - Encapsulates Filter & Date Range
                    form(action='')
                        .container-fluid
                            .row
                                .col-md-3
                                    fieldset#type
                                        | Pitch Type
                                    br

                                    fieldset#tentfield
                                        // Tent Filter Checkbox
                                        .form-group(class='[ ]')
                                            input#tent(type='checkbox', value='tent', name='pitch-type', autocomplete='off' checked)
                                            .btn-group(class='[ ]')
                                                label.btn.btn-default(for='tent', class='[ ]')
                                                    span.glyphicon.glyphicon-ok(class='[ ]')
                                                    span
                                                label.btn.btn-default.active(for='tent', class='[ ]')
                                                    span.glyphicon.glyphicon-tent
                                                    |  Tent

                                    fieldset#caravanfield
                                        // Caravan Filter Checkbox
                                        .form-group(class='[]')
                                            input#caravan(type='checkbox', value='caravan', name='pitch-type', autocomplete='off')
                                            .btn-group(class='[ ]')
                                                label.btn.btn-default(for='caravan', class='[ ]')
                                                    span.glyphicon.glyphicon-ok(class='[ ]')
                                                    span
                                                label.btn.btn-default.active(for='caravan', class='[ ]')
                                                    span.fa.fa-fw.fa-car
                                                    |  Caravan

                                    fieldset#motorhomefield
                                        // Motorhome Filter Checkbox
                                        .form-group(class='[ ]')
                                            input#motorhome(type='checkbox', value='motorhome', name='pitch-type', autocomplete='off')
                                            .btn-group(class='[ ]')
                                                label.btn.btn-default(for='motorhome', class='[ ]')
                                                    span.glyphicon.glyphicon-ok(class='[ ]')
                                                    span
                                                label.btn.btn-default.active(for='motorhome', class='[ ]')
                                                    span.fa.fa-fw.fa-truck
                                                    |  Motorhome

                                    fieldset#electricalfield
                                        // Electrical Filter Checkbox
                                        .form-group(class='[ ]')
                                            input#electrical(type='checkbox', value='electrical', name='pitch-type', autocomplete='off')
                                            .btn-group(class='[ ]')
                                                label.btn.btn-default(for='electrical', class='[ ]')
                                                    span.glyphicon.glyphicon-ok(class='[ ]')
                                                    span
                                                label.btn.btn-default.active(for='electrical', class='[ ]')
                                                    span.fa.fa-fw.fa-bolt
                                                    |   Electrical


                                .col-md-3
                                    fieldset#daterangelabel
                                        | Select Date Range

                                    fieldset#daterange
                                        label(for='date-range')
                                        input#date-range(type='text', name='date-range', value='01/01/2018 - 04/01/2018')
                                        P
                                        |
                                        P

                                .col-md-3
                                    fieldset#findbutton
                                        button.form-control.find-pitch(type='button', onclick='populatePitchSelection()')
                                            span.glyphicon.glyphicon-tent
                                            |  Find Pitch
                                            p

                                    fieldset#changebutton
                                        button.form-control.find-pitch(type='button', onclick='showInput()')
                                            span.glyphicon.glyphicon-repeat
                                            |  Change
                                            p

                                .col-md-3
                                    fieldset
                                        button.btn.btn-warning.form-control.massCancellation(type='button' id="massCancellation")
                                            span.fas.fa-fw.fa-exclamation-triangle
                                            |  Mass-Cancellation
                                    fieldset
                                        button.btn.btn-danger.form-control.massCancellation(type='button' id="cancelMassCancellation")
                                            span.fas.fa-fw.fa-times
                                            |  Abort

                                        fieldset#radioButtons
                                            form
                                                input.form-radio-input(type="radio" name="mass" value="all" id="allPitchesCheckbox" autocomplete="off" checked)
                                                | &nbsp;&nbsp; All Pitches
                                                br
                                                input.form-radio-input(type="radio" name="mass" value="tent" id="onlyTentCheckbox" autocomplete="off")
                                                | &nbsp;&nbsp; Only Tent Pitches
                                        br

                                    fieldset
                                        input.form-control#cancelDate(type='text', name='cancelDate', value='01/01/2018 - 07/01/2018')
                                    br

                                    fieldset#reasonLabel
                                        | Reason for Cancellation:

                                    fieldset#reasonInput
                                        input.form-control(type="text" name="reasonInput")

                                    br
                                    br
                                    fieldset
                                        button.btn.btn-success.form-control#confirmCancellationButton(type='button' onclick='confirmCancellation()')
                                            span.glyphicon.glyphicon-tent
                                            |  Submit
                            .row
                                #selectPitches
                                    | Select Booking Duration &nbsp &nbsp &nbsp
                                    input(type='text', name='selectPitches', value='01/01/2018 - 01/14/2018' )
                                br

                            .row
                                .pitch-selection#pitchSelection

        .card
            #headingTwo.card-header
                h5.mb-0
                    button.form-control.btn.btn-link(type='button', id="customerCard" data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                        | Allocate Customer
            #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordion')
                .card-body
                    p
                        | Here you can allocate a customer to the booking.
                    p
                        .row
                            .col-md-4
                                input.form-control.input(type='text', placeholder='Search existing customer by ID', id='customer_id',name ="customer_ID")
                            .col-md-4
                                button.form-control.btn-svenja(type='button',id='addcustomerbooking')
                                    span.fa.fa-fw.fa-plus-circle
                                    |  Add New Customer
                div(id="addCustomerBookingForm")
                    form#customerBookingForm
                        .row
                            p
                            .col-md-2
                                label First Name *
                            .col-md-3
                                input(type='text', name='first_name')
                            .col-md-2
                                label Last Name *
                            .col-md-3
                                input(type='text', name='last_name')
                        br
                        .row
                            .col-md-2
                                label Address Line 1 *
                            .col-md-3
                                input(type='text', name='address_line_1')
                            .col-md-2
                                label Address Line 2
                            .col-md-3
                                input(type='text', name='address_line_2')
                        br
                        .row
                            .col-md-2
                                label Registration
                            .col-md-3
                                input(type='text', name='registration')
                        br
                        .row
                            .col-md-2
                                label Date of Birth *
                            .col-md-3
                                input(type='text', name='date_of_birth', placeholder=" DD/MM/YYYY")
                            .col-md-2
                                label Email Address *
                            .col-md-3
                                input(type='text', name='email_address')
                        br
                        .row
                            .col-md-2
                                label Home Phone Number
                            .col-md-3
                                input(type='text', name='home_phone_number')
                            .col-md-2
                                label Mobile Phone Number
                            .col-md-3
                                input(type='text', name='mobile_phone_number')
                        br
                        .row
                            .col-md-2
                                label Amount of Dogs
                            .col-md-3
                                select.selectpicker(name="dog_amount")
                                    optgroup()
                                        option 0
                                        option 1
                                        option 2
                        br
                        .row
                            .col-md-2
                                label Payment Method
                            .col-md-3
                                select.selectpicker(name="payment_method")
                                    optgroup()
                                        option(value="cash") Cash
                                        option(value="cheque") Cheque
                                        option(value="Paypal") Paypal

                            .col-md-2
                                label Already Paid?
                                |
                                input(type='checkbox', id="already_paid", name='already_paid' )
                        br
                        .row
                            .col-md-4
                                button.form-control.btn-next(type='button', id='next', name='next')
                                    |  Book now
                div#error(class="error")



block append scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js")
    script(src="js/booking.js")
    script(src="js/booking-customer.js")
    script(src="js/daterangepicker.js")
    script(type="text/javascript").
        $(function() {
            $('input[name="date-range"]').daterangepicker({
                "opens": "left",
                "showDropdowns": true,
                locale: {
                    format: 'DD/MM/YYYY'
                },
                startDate: "01/01/2018",
                endDate: "14/01/2018"
            });
        });
