extends structure

block append top-content
    p.page-title
        span.glyphicon.glyphicon-lock
        |  Change Password

block append body-content
    .conatiner-fluid
        .row
            .col-md-4
                form(method="POST" onsubmit="addUsername();")
                        label Current Password
                        input.form-control(type="password" name="old" placeholder="Current Password" required)
                        br
                        label New Password
                        input.form-control(type="password" name="new" placeholder="New Password" required)
                        br
                        label Confirm New Password
                        input.form-control(type="password" name="confirm" placeholder="Confirm Password" required)
                        br
                        input(type="hidden" name="username")
                        button.btn.btn-lg.btn-primary(type="submit") Submit
                        p.error
                        p.success

block append scripts
    script(type="text/javascript").
        let un = "!{username}";

        function addUsername() {
            //Add Username To Form
            $("input[name='username']").val(un);
        }

        let error = "!{error}";
        let success = "!{success}";

        if (success) {
            $(".success").html(success);
        }

        if (error) {
            $(".error").html(error);
        }

