extends structure

block append stylesheets
    link(rel="stylesheet" href="css/customer.css")
    link(rel="stylesheet" href="css/ui.css")

block append top-content
    p.page-title
        i.glyphicon.glyphicon-user
        |  Customer Management

block append body-content
    p
        .row
        .row
            .col-md-3
                .inner-addon.left-addon
                    i.glyphicon.glyphicon-search
                    input.form-control.input(type='text', placeholder='Search by ID or name', id='customerId')
            .col-md-3
                button.form-control.btn-info(type='button', onclick="location.href='/add-customer'")
                    span.fa.fa-fw.fa-plus-circle
                    |  Add Customer
            .col-md-3
                button.form-control.btn-info(type='button', id="Edit")
                    span.fa.fa-fw.fa-edit
                    |  Edit Customer
            .col-md-3
                button.form-control.btn-info(type='button', id="Delete")
                    span.fa.fa-fw.fa-minus-circle
                    |  Delete Customer
    // Main Page Content
    form(action='')
        .container-fluid
            .row
                #loading
                .customer-overview#customerTable

block append scripts
    script(src="js/customer-overview.js")






