extends structure

block append stylesheets
    link(rel="stylesheet" href="css/customer.css")
    link(rel="stylesheet" href="css/ui.css")

block append body-content
    h2
        span.glyphicon.glyphicon-user
        |  Customer Overview

        p
            .row
                .col-md-3
                    button.form-control.btn-info(type='button', onclick="location.href='/addcustomer'")
                        span.glyphicon.glyphicon-add
                        span Add Customer
                            //the jquery button for edit doesnt work yet
                .col-md-3
                    button.form-control.btn-info(type='button', id="Edit")
                        span.glyphicon.glyphicon-add
                        span Edit Customer
                .col-md-3
                    button.form-control.btn-info(type='button', id="Delete")
                        span.glyphicon.glyphicon-add
                        span Delete Customer
            .row
                .col-md-12
                    br
                    input.form-control.input(type='text', onkeyup='filterCustomersTable()', placeholder='Search customer by ID', id='customer_id')
    // Main Page Content
    form(action='')
        .container-fluid
            .row
                .customer-overview#customerTable

block append scripts
    script(src="js/customer-overview.js")
    script(type="text/javascript").

        function filterCustomersTable() {
            var id = document.getElementById("customer_id").value;
            var table = document.getElementById("customerTable");
            var tr = table.getElementsByTagName("tr");
            var i=0;
            var td;
            // Go through all table rows and search for row with desired ID
           for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if(td) {
                    if(td.innerHTML.indexOf(id)> -1)
                    {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }





