extends structure

block append top-content
    p.page-title
        span.glyphicon.glyphicon-home
        |  Dashboard
block append body-content
    p An overview of the management system. Here you can view booked pitches and and their respective details.
    p !{data}

        form
            .row
                .col-md-3
                    input.form-control.input(type='text', name='date', placeholder='DD/MM/YYYY')
                .col-md-3
                    button.form-control.btn-info(type='button', id="Show")
                        |   Show overview for one day
                .col-md-3
                    .countDogs
        br
        #loading
        .pitchOverview



block append scripts
    script(src="js/dashboard.js")






