extends structure

block append top-content
    p.page-title
        span.glyphicon.glyphicon-home
        |  Dashboard
block append body-content
    p
        | This is the main page.
    p !{data}

    p
        br
        | Count of dogs overview:
        .countDogsCurrently

    div(id="addCustomerForm")
        form#customerForm()
            .row
                .col-md-3
                    input.form-control.input(type='text', name='date', placeholder='DD/MM/YYYY')
                .col-md-3
                    button.form-control.btn-info(type='button', id="Count")
                        |   Show dog count for date

                .col-md-3
                    .countDogsForDate


block append scripts
    script(src="js/dashboard.js")






