extends structure

block append top-content
    p.page-title
        span.glyphicon.glyphicon-home
        |  Dashboard
block append body-content
    p
        | This is the main page.
    p !{data}

