extends structure

block append stylesheets
    link(rel="stylesheet" href="css/dashboard.css")

block append top-content
    p.page-title
        span.glyphicon.glyphicon-home
        |  Dashboard
block append body-content
    p
        | Pitch Overview - booked pitches at a glance
    p !{data}

    div(id="dog")
        form#dogForm()
            .row
                .col-md-3
                    input.form-control.input(type='text', name='date', placeholder='DD/MM/YYYY')
                .col-md-3
                    button.form-control.btn-info(type='button', id="Count")
                        |   Show overview for day
                .col-md-3
                    .countDogs
        .pitchOverview







block append scripts
    script(src="js/dashboard.js")






