extends structure

block append top-content
    p.page-title
        span.glyphicon.glyphicon-remove-circle
        |  Delete Booking
block append body-content
    p
        | Delete an existing booking from the system.

