
extends structure

block append stylesheets
    link(rel="stylesheet" href="css/ui.css")
    link(rel="stylesheet" href="css/gas-cylinder-overview.css")

block append scripts
    script(src="js/edit-cylinder.js")


block append top-content
    p.page-title
        span.fa.fa-fw.fa-edit
        |  Edit Cylinder

block append body-content
    #alertBoxContainer
        .row
            .col-xs-12
                p The cylinder has been edited.
            .col-xs-6.col-xs-offset-3
                .form-control.alertBox
                    .col-md-6
                        button#alertBoxBtn.form-control.btn-info(type='button', onclick="location.href='/gas-cylinder-overview'")
                            span OK
    #editCylinderForm.container-fluid
        form#cylinderForm()

            //.row
            //    .col-md-2
            //        label Cylinder Reference
            //    .col-md-2
            //        input(type='text', name='reference')
            //    .col-md-3
            //        label Size
            //    .col-md-3
            //        input(type='text', name='reference')
            //
            //    .row
            //
            //
            //
            //    .col-md-2
            //        label Choose new reference if needed :
            //
            //    .col-md-3
            //
            //        output(name="size")
            //    .col-md-2
            //        label Choose new size if needed :
            //    .col-md-3
            //        input(type='text', name="size")


            .row
                .col-md-2
                    label Cylinder Reference
                .col-md-3
                    output(type='text',name="reference")
                .col-md-2
                    label Size
                .col-md-3
                    output(type='text',name="size")

                .row

                .col-md-2
                    label New Reference
                .col-md-3
                    input.form-control(type='text',name="reference")
                .col-md-2
                    label Choose new size :
                .col-md-3
                    select.form-control.selectpicker(name="size")
                        optgroup()
                            option Large
                            option Medium
                            option Small

            br
            .row
                .col-md-2
                    label Condition
                .col-md-3
                    output(type='text',name="condition")
                .col-md-2
                    label Location
                .col-md-3
                    output(type='text',name="location")

                .row

                .col-md-2
                    label New Condition
                .col-md-3
                    select.form-control.selectpicker(name="condition")
                        optgroup()
                            option Full
                            option Half
                            option Empty
                .col-md-2
                    label New Location :
                .col-md-3
                    input.form-control(type='text',name="location")

            Message Input

            Message camping-group
            p
                | All fields are obligatory.
            br
            .row
                .col-md-3
                    button#btnUpdateCylinder.form-control.btn-info(type='button')
                        span.fa.fa-fw.fa-check
                        |  Update Cylinder
                .col-md-2
                    button#btnCancelCylinder.form-control.btn-info(type='button')
                        span.fa.fa-fw.fa-times
                        |  Cancel