extends structure

block append top-content
    p.page-title
        span.glyphicon.glyphicon-edit
        |  Edit Booking
block append body-content
    p
        | Edit the details of an existing booking.

