extends structure

block append stylesheets
    link(rel="stylesheet" href="css/gas-cylinder-overview.css")

block append top-content
    p.page-title
        i.glyphicon.glyphicon-fire
        | Gas Cylinder Overview
block append body-content
    p
        | Current status of sites gas cylinders.
    p
        .row
            .col-md-3
                button.form-control.btn-info(type='button', onclick="location.href='/add-cylinder'")
                    span.fa.fa-fw.fa-plus-circle
                    |  Add Cylinder
            .col-md-3
                button.form-control.btn-info(type='button', id="Edit")
                    span.fa.fa-fw.fa-edit
                    |  Edit Cylinder
            .col-md-3
                button.form-control.btn-info(type='button', id="Delete")
                    span.fa.fa-fw.fa-minus-circle
                    |  Delete Cylinder

    .container-fluid
        .row
            .col-sm-12
                #loading
                #gas-cylinders-overview

block append scripts
    script(src="js/gas-cylinder-overview.js")