extends structure

block append stylesheets
    link(rel="stylesheet" href="css/gas-cylinder-overview.css")

block append top-content
    p.page-title
        span.fa.fa-fw.fa-lg.fa-history
        | Gas Cylinder Overview
block append body-content
       .container-fluid
        .row
            .col-sm-12
                p
                    | Current status of sites gas cylinders.
                #loading
                #gas-cylinders-overview

block append scripts
    script(src="js/gas-cylinder-overview.js")