extends structure

block append stylesheets
    link(rel="stylesheet" href="css/help.css")

block append top-content
    p.page-title
        span.glyphicon.glyphicon-info-sign.g-fw
        | Helpful Information
block append body-content
    p
        | How to use the site.

    .hotkeys
        p.ctrl-d Ctrl + Alt + D - Access the Dashboard
        p.ctrl-b Ctrl + Alt + B - Access Booking Management
        p.ctrl-c Ctrl + Alt + C - Access Customer Management

    h2
        i.fab.fa-fw.fa-font-awesome
        |  Icon Key

    ul.icon-key
        li
            i.glyphicon.glyphicon-tent
            |  Pitch Type: Tents Only
        li
            i.fa.fa-fw.fa-car
            |  Pitch Type: Caravan Only
        li
            i.fa.fa-fa.fa-truck
            |  Pitch Type: Motorhome Only
        li
            i.fa.fa-fw.fa-cloud
            |  Pitch Attribute: Suitable for all weather
        li
            i.fa.fa-fw.fa-lightbulb
            |  Pitch Attribute: Electrical Outlet Available

