extends structure

block append stylesheets
    link(rel="stylesheet" href="css/help.css")

block append body-content
    h2
        span.glyphicon.glyphicon-info-sign.g-fw
        | Helpful Information
    p
        | How to use the site.

    .hotkeys
        p.ctrl-d Ctrl + Alt + D - Access the Dashboard
        p.ctrl-b Ctrl + Alt + B - Access Booking Management

