extends structure

block append stylesheets
    link(rel="stylesheet" href="css/manage-booking.css")

block append top-content
    p.page-title
        span.glyphicon.glyphicon-align-justify
        |  Booking Management
block append body-content
    p
        | Here you can see an overview of all bookings and their payment status.
    .row
        .col-md-3
            input.form-control.input(type='text', placeholder='Search by ID or Name', id='booking_id')
        .col-md-3
            button.form-control.btn-info(type='button', id="Show")
                span.glyphicon.glyphicon-list-alt
                |  Show Confirmation
        .col-md-3
            button.form-control.btn-info(type='button', id="Edit")
                span.fa.fa-fw.fa-edit
                |  Edit Booking
        .col-md-3
            button.form-control.btn-info(type='button', id="Delete")
                span.fa.fa-fw.fa-minus-circle
                |  Delete Booking
    // Main Page Content
    .container-fluid
        .row
            .pitch-booking-overview#bookingTable
    //Loading
    #loading
    // Available Pitches Output Here
    .row.pitch-selection

block append scripts
    script(src="js/manage-booking.js")