extends structure

block append stylesheets
    link(rel='stylesheet', href='css/pitch-management.css')

block append top-content
    p.page-title
        span.glyphicon.glyphicon-tent
        |  Pitch Management

block append body-content
    #pitchManagementControls.container-fluid
        .row
            .col-sm-12
                p View a grid of all pitches on the campsite. Sorting, Filtering, Editing & Deleting options are provided.
            .col-md-4
                .input-group
                    span.input-group-addon Sort
                        i.fa.fa-fw.fa-sort
                    select#sortGrid(class="form-control" autocomplete="off")
                        option.default(value="" selected disabled) - Select Sort -
                        option#idAscending(value="asc") Pitch ID (Ascending)
                        option#idDescending(value="desc") Pitch ID (Descending)
                        i.fa.fa-fw.fa-sort
                        |  Sort By ID
            .col-md-4
                .input-group
                    span.input-group-addon Filter
                        i.fa.fa-fw.fa-filter
                    select#filterGrid(class="form-control" autocomplete="off")
                        option.default(value="" selected disabled) - Select Filter -
                        optgroup(label="Pitch Type")
                            option(value="") View All
                            option#filterTent(value="tent") Tent
                            option#filterCaravan(value="caravan") Caravan
                            option#filterMotorhome(value="motorhome") Motorhome
                            option#filterAll(value="all") All Weather & Electrical
                        optgroup(label="Availability")
                            option#filterAvailable(value="1") Available
                            option#filterNotAvailable(value="0") Not Available
            .col-md-4
                button#addPitchBeforeModal.btn.btn-success(type="button" data-toggle='modal' data-target='#addModal')
                    i.fas.fa-fw.fa-plus
                    |  Add Pitch
                button#refreshPitchManagement.btn.btn-primary(type="button")
                    i.fas.fa-fw.fa-sync-alt
                    |  Refresh
    .container-fluid
        .row
            .col-sm-12
                #loading

    .container-fluid
        .row
            .col-sm-12
                #pitchManagementGrid.grid

    #editModal.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Edit Pitch
                .modal-body
                    p Make amendments to the details of the selected pitch.
                    #editPitchDetails.container-fluid
                        .row
                            .col-sm-6
                                label Name
                                .input-group
                                    span.input-group-addon
                                        i.far.fa-fw.fa-id-card
                                    input#editPitchName(type="text" placeholder="Pitch Name" class="form-control")
                            .col-sm-6
                                label Type
                                .input-group
                                    span.input-group-addon
                                        i.far.fa-fw.fa-compass
                                    select#editPitchType(class="form-control")
                                        option(value="tent") Tent
                                        option(value="caravan") Caravan
                                        option(value="motorhome") Motorhome
                                        option(value="all") All Weather & Electrical
                        .row
                            .col-sm-4
                                label Price
                                .input-group
                                    span.input-group-addon
                                        i.fas.fa-fw.fa-pound-sign
                                    input#editPitchPrice(type="text" placeholder="Pitch Cost" class="form-control")
                            .col-sm-4
                                label Available?
                                .input-group
                                    span.input-group-addon
                                        i.far.fa-fw.fa-clock
                                    select#editPitchAvailability(class="form-control")
                                        option(value="1") Yes
                                        option(value="0") No
                            .col-sm-4
                                label Electrical?
                                .input-group
                                    span.input-group-addon
                                        i.fas.fa-fw.fa-bolt
                                    select#editPitchElectrical(class="form-control")
                                        option(value="1") Yes
                                        option(value="0") No
                .modal-footer
                    button.btn.btn-danger(type="button", data-dismiss='modal')
                        i.fa.fa-fw.fa-times
                        |  Discard Changes
                    button#finishedEditing.btn.btn-success(type='button')
                        i.fa.fa-fw.fa-check
                        |  Finish Editing

    #viewModal.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title View Pitch Information
                .modal-body
                    p View information regarding the selected pitch. Such as the current booking.
                    #viewPitchDetails.container-fluid
                        .row
                            h3
                                i.fas.fa-fw.fa-book
                                | Currently Booked
                            #pitchCurrentlyBooked
                        .row
                            h3
                                i.fa.fa-fw.fa-history
                                | Booking History
                            #pitchBookingHistory


                .modal-footer
                    button.btn.btn-success(type='button', data-dismiss='modal')
                        i.fa.fa-fw.fa-check
                        |  Looks Good

    #deleteModal.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Delete Pitch
                .modal-body
                    p Remove a pitch from the database.
                    #deletePitchDetails.container-fluid
                        .row
                            #areYouSure
                .modal-footer
                    button#deletePitch.btn.btn-danger(type='button', data-dismiss='modal')
                        i.far.fa-fw.fa-trash-alt
                        |  Delete

    #addModal.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Add Pitch
                .modal-body
                    #addPitchDetails.container-fluid
                        .row
                            .col-sm-6
                                label Name
                                .input-group
                                    span.input-group-addon
                                        i.far.fa-fw.fa-id-card
                                    input#addPitchName(type="text" placeholder="Pitch Name" class="form-control")
                            .col-sm-6
                                label Type
                                .input-group
                                    span.input-group-addon
                                        i.far.fa-fw.fa-compass
                                    select#addPitchType(class="form-control")
                                        option(value="tent") Tent
                                        option(value="caravan") Caravan
                                        option(value="motorhome") Motorhome
                                        option(value="all") All Weather & Electrical
                        .row
                            .col-sm-4
                                label Price
                                .input-group
                                    span.input-group-addon
                                        i.fas.fa-fw.fa-pound-sign
                                    input#addPitchPrice(type="text" placeholder="Pitch Cost" class="form-control")
                            .col-sm-4
                                label Available?
                                .input-group
                                    span.input-group-addon
                                        i.far.fa-fw.fa-clock
                                    select#addPitchAvailability(class="form-control")
                                        option(value="1") Yes
                                        option(value="0") No
                            .col-sm-4
                                label Electrical?
                                .input-group
                                    span.input-group-addon
                                        i.fas.fa-fw.fa-bolt
                                    select#addPitchElectrical(class="form-control")
                                        option(value="1") Yes
                                        option(value="0") No
                .modal-footer
                    button#addPitch.btn.btn-success(type='button', data-dismiss='modal')
                        i.fas.fa-fw.fa-plus
                        |  Add Pitch
block append scripts
    script(src='js/hammer.min.js')
    script(src='js/muuri.min.js')
    script(src='js/pitch-management.js')

