extends structure

block append stylesheets
    link(rel="stylesheet" href="css/manage-booking.css")

block append top-content
    p.page-title
        span.glyphicon.glyphicon-list-alt
        |  Booking Confirmation

block append body-content
    // show-booking.js inserts confirmation by ID booking
    // Main Page Content:
    form(action='')
        .container-fluid
            .row
                #loading
                .booking-confirmation#booking


block append scripts
    script(src="js/show-booking.js")




