.find-pitch {
    background-color: #2f8fd5;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: 500;
    width: 130px;
    transition: all ease 0.5s;
}

#customerBookingForm{
    visibility: hidden;
}

.find-pitch:hover {
    background-color: white;
    border: 2px solid #2f8fd5;
    color: #2f8fd5;
}

.pitch-selection-container {
    display: block;
    width: 100%;
}

.pitch-availability {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-family: 'Poppins', sans-serif;
}

.pitch-availability td {
    border-bottom: 1px solid black;
    text-align: center;
    color: rgba(0, 0, 0, 0);
    transition: all ease 0.2s;
}

.pitch-availability td:hover {
    background-color: gray;
}

.pitch-details {
    color: black !important;
}


.pitch-availability th {
    border: 1px solid black;
    padding: 2px;
}

.available-pitch {
    background-color: #76ff77;
}

.not-available-pitch {
    background-color: #ff5547;
}

.error{
    color: red;
}

.errorInput{
    border : 2px solid red;
}


tr.selected {
    background-color: #2f8fd5 !important;
    color: #FFF !important;
}

#selectPitches{
    visibility: hidden;
}
