.alertBox{
    height: 120px;
    position: absolute;
    z-index: 3;
    color: black;
    margin-top: 80px;
    text-align: center;
}

#alertBoxContainer{
    visibility: hidden;
}

.p{
    color: black;
}

label{
    text-align: end;
}

input{
    width: 75%;
}

.error{
    color: red;
}

.errorInput{
    border : 2px solid red;
}

.selected {
    background-color: brown;
    color: #FFF;
}

#customer_id{
    color: blue;
    height: 30px;
    width: 175px;
    font-size: 15px;
    border: 2px solid blue;
    border-radius: 5px;
}
::placeholder {
    color: blue;
    font-size: 15px;
}