.pitch-booking-overview table {
    width: 100%;
}
tr.selected {
    background-color: #2f8fd5 !important;
    color: #FFF;
}

#alertBoxContainer{
    visibility: hidden;
}
#alertBoxContainer2{
    visibility: hidden;
}

/*
.pitch-booking-overview table th {
    padding: 2px 5px;
    background-color: #6ac1d5;
}

.pitch-booking-overview table td {
    border-bottom: 1px solid black;
}